:root {
  
  --header-height: 64px;
  --nav-height: 96px;
  --top-total-height: calc(var(--header-height) + var(--nav-height));
  --main-min-height: calc(100vh - var(--header-height));
  --section-min-height: calc(var(--main-min-height) - var(--nav-height));
}

html,
body {
  font-family: yekan;
  margin: 0;
  min-height: 100% !important;
  height: 100%;
  min-width: 100% !important;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  header {
    box-shadow: 0 1px 2px 0 var(--black-divider);
    width: 100%;
    height: var(--header-height);
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fff;
  }

  main {
    *:not(button) {
      /* border: 1px dashed gray; */
    }
    max-width: 1024px;
    min-height: var(--main-min-height);
    margin: 0 auto;
    padding: 0 16px;
    nav {
      height: var(--nav-height);

    }

    article {
      display: flex;
      column-gap: 8.3333333%;


    }
  }
  footer {
    height: 32px;
    padding: 32px 0;
    margin-top: 128px;
  }
}
