<section aria-label="description">
  <h1>۱۲۷متر نوساز شاهکاری بدون مشابه در گیشا</h1>
  <p>۶ روز پیش در تهران، گیشا (کوی نصر)</p>
  <hr />
  <button id="dealing-warning-btn">
    <div>
      <i
        class="kt-icon kt-icon-warning kt-icon--lg kt-base-row__icon"
        style="color: var(--black-secondary)"
      ></i>
      <p>زنگ خطرهای قبل از معامله</p>
    </div>
    <i
      class="kt-icon kt-icon-keyboard-arrow-left kt-icon--lg kt-base-row__arrow"
    ></i>
  </button>
  <hr />
  <section id="post-actions">
    <div>
      <button class="kt-button kt-button--primary">اطلاعات تماس</button>
      <button id="chat-btn" class="kt-button kt-button--outlined">چت</button>
    </div>
    <div>
      <button class="kt-button kt-button--inlined kt-button--circular">
        <i class="kt-icon kt-icon-bookmark-o kt-button__icon"></i>
      </button>
      <button class="kt-button kt-button--inlined kt-button--circular">
        <i class="kt-icon kt-icon-share kt-button__icon"></i>
      </button>
    </div>
  </section>

  <section id="post-specs">
    <div id="sec1">
      <div>
        <p>متراژ</p>
        <p>۱۲۷</p>
      </div>
      <div>
        <p>ساخت</p>
        <p>۱۴۰۳</p>
      </div>
      <div>
        <p>اتاق</p>
        <p>۳</p>
      </div>
    </div>
    <div id="sec2">
      <div>
        <p>قیمت کل</p>
        <p>۳۴٬۵۰۰٬۰۰۰٬۰۰۰ تومان</p>
      </div>
      <div>
        <p>قیمت هر متر</p>
        <p>۲۷۱٬۶۵۳٬۰۰۰ تومان</p>
      </div>
      <div>
        <p>طبقه</p>
        <p>۴ از ۵</p>
      </div>
    </div>
    <h2>ویژگی‌ها و امکانات</h2>
    <div id="sec3">
      <div>
        <i class="kt-icon kt-icon-elevator kt-icon--lg"></i>
        <p>آسانسور</p>
      </div>
      <div>
        <i class="kt-icon kt-icon-parking kt-icon--lg"></i>
        <p>پارکینگ</p>
      </div>
      <div>
        <i class="kt-icon kt-icon-cabinet kt-icon--lg"></i>
        <p>انباری</p>
      </div>
    </div>
    <button id="detail-btn">نمایش همهٔ جزئیات</button>

    <hr />

    <button id="dealing-warning-btn">
      <div>
        <i
          class="kt-icon kt-icon-tag-check-circle kt-icon--lg kt-base-row__icon"
          style="color: var(--black-secondary)"
        ></i>
        <p>بررسی و کارشناسی</p>
      </div>
      <i
        class="kt-icon kt-icon-keyboard-arrow-left kt-icon--lg kt-base-row__arrow"
      ></i>
    </button>
    <hr />

    <button id="dealing-warning-btn">
      <div>
        <i
          class="kt-icon kt-icon-article-magnifier kt-icon--lg kt-base-row__icon"
          style="color: var(--black-secondary)"
        ></i>
        <p>ارزیابی قیمت</p>
      </div>
      <i
        class="kt-icon kt-icon-keyboard-arrow-left kt-icon--lg kt-base-row__arrow"
      ></i>
    </button>
    <hr />
  </section>

  <h2>توضیحات</h2>
  <pre>
♦️♦️♦️♦️♦️امیدوارم قسمت شما بشه♦️♦️♦️♦️♦️

✔️بهترین لوکیشن گیشا
✔️سازه ای بدون مشابه
✔️متریال وارداتی و برند
✔️نقشه متفاوت بدون نقص
✔️خواب های ایده ال با نور مستقیم
✔️تراس کاربردی قابل چیدمان
✔️کمدهای باکس ( اکسسوری فول )
✔️ قابل تهاتر با اپارتمان کوچکتر

☎️☎️☎️☎️علی مددی
    </pre
  >
  <nav>
    <button class="kt-chip kt-chip--has-action">فروش آپارتمان</button>
    <button class="kt-chip kt-chip--has-action">فروش آپارتمان در گیشا (کوی نصر)</button>
  </nav>
</section>
