<section aria-label="description">
  <h1>۱۲۷متر نوساز شاهکاری بدون مشابه در گیشا</h1>
  <p>۶ روز پیش در تهران، گیشا (کوی نصر)</p>
  <button>زنگ خطرهای قبل از معامله</button>
  <button>اطلاعات تماس</button>
  <button>چت</button>
  <button>save</button>
  <button>share</button>
  <div>
    <p>متراژ</p>
    <p>127</p>
  </div>
  <div>
    <p>ساخت</p>
    <p>1403</p>
  </div>
  <div>
    <p>اتاق</p>
    <p>3</p>
  </div>
  <h2>ویژگی‌ها و امکانات</h2>
  <div>
    <p>icon</p>
    <p>آسانسور</p>
  </div>
  <div>
    <p>icon</p>
    <p>پارکینگ</p>
  </div>
  <div>
    <p>icon</p>
    <p>انباری</p>
  </div>
  <button>نمایش همه جزییات</button>
  <button>بررسی و کارشناسی</button>
  <button>ارزیابی قیمت</button>
  <h2>توضیحات</h2>
  <pre>
♦️♦️♦️♦️♦️امیدوارم قسمت شما بشه♦️♦️♦️♦️♦️

✔️بهترین لوکیشن گیشا
✔️سازه ای بدون مشابه
✔️متریال وارداتی و برند
✔️نقشه متفاوت بدون نقص
✔️خواب های ایده ال با نور مستقیم
✔️تراس کاربردی قابل چیدمان
✔️کمدهای باکس ( اکسسوری فول )
✔️ قابل تهاتر با اپارتمان کوچکتر

☎️☎️☎️☎️علی مددی
    </pre
  >
  <nav>
    <button>فروش آپارتمان</button>
    <button>فروش آپارتمان در گیشا (کوی نصر)</button>
  </nav>
</section>
